@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  // overflow-y: hidden;
}
.btn {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left, #007fee, #1404f0);
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-size: 100% 90px;
    background-position: 0 -30px;
    transition: all 0.2s linear;
  }
  
  .btn:hover {
    transform: scale(1.1);
    background-position:290px;  

  }
  
  .gradient,
  .active {
    background: linear-gradient(
      92.23deg,
      #08008A 21.43%,
      #007fee 50.63%,
      #0800c2 100%,
      #1404f0 117.04%
    );
  }
  
  .active {
    color: #fff;
    padding: 1rem;
    border-radius: 100%;
  }
  
  @layer base {
    body {
      @apply font-secondary text-lg leading-8 text-white;
    }
    .h2 {
      @apply font-primary text-[32px] mb-6 tracking-[10%] uppercase;
    }
    .h3 {
      @apply font-primary font-semibold text-[26px] mb-6 leading-[46px];
    }
    .btn {
      @apply rounded-full font-primary text-white font-medium transition-all;
    }
    .btn-sm {
      @apply h-[48px] px-6 text-sm;
    }
    .btn-lg {
      @apply h-[56px] px-10 text-base;
    }
    .btn-link {
      @apply text-base;
    }
    .text-gradient {
      @apply bg-gradient-to-r text-transparent bg-clip-text from-[#007fee] to-[#00ffe5] font-bold font-primary hover:from-[#00eeee] hover:to-[#007fee];
    }
    .section {
      @apply py-8 lg:py-24 lg:h-screen flex items-center;
    }
  }
  

  // #ff56f6 21.43%,
  //     #b936ee 50.63%,
  //     #3bace2 100%,
  //     #406aff 117.04%